<div class="relative">
    <div class="flex absolute items-center">
        <div class="flex item-centre justify-end w-screen">
            <div class="bg-blue-200 p-8 m-10">
                {{ content }}
            </div>
        </div>
    </div>
    {{ landing_image }}
    <div class="">
        <img src="{{ url }}" alt="{{ alt }}">
    </div>
    {{ /landing_image }}
    <div class="w-screen text-center">
        <h2 class="flex w-screen text-center p-10">Recent Blog Post</h2>
        {{ partial:blog-preview sort="date:desc"}}
    </div>
</div>
