<div>
    <a href="{{ contact_details:instagram }}" class="m-1 text-gray-900 "><i class="fab fa-facebook-square fa-2x icon"></i></a>
    <a href="{{ contact_details:facebook }}" class="m-1 text-gray-900 "><i class="fab fa-instagram fa-2x icon"></i></a>
    <a href="{{ contact_details:linkedin }}" class="m-1 text-gray-900 "><i class="fab fa-linkedin fa-2x icon"></i></a>
</div>
<style>
.icon:hover {
    transform: rotate(20deg);
    color: #60A5FA;
    ;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .socials {
        display: none;
    }
}


</style>
